<!DOCTYPE html>
<html>
  <head>
    <title>Calendly Flake-alytics</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

    <style>

     .first-column {
          width: 66%;
          padding: 0 10px 0 0;
          float: left;
      }

      .second-column {
          width: 30%;
          padding: 0 10px 0 0;
          float: right;
      }

      @media only screen and (max-width: 800px) {

         .first-column {
              width: 100%;
              padding-bottom: 10px;
              float: none;
          }

          .second-column {
              width: 100%;
              padding-bottom: 10px;
              float: none;
          }
      }

      </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
